﻿@charset "utf-8";

/* Common */
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select{margin:0;padding:0}
body,input,textarea,select,button,table{color:#212121;}
html,body{width:100%; height:100%; -webkit-text-size-adjust: none !important; text-size-adjust: none !important;}
body{font-size:12px; font-weight:bold;}
img,fieldset{border:0}
img{vertical-align:middle;}
ul,ol, li{list-style:none}
em,address{font-style:normal}
legend{*margin-left:-7px}
table{width:100%; border-collapse:collapse;border-spacing:0}
th{text-align:left}
a{color:#fff;text-decoration:none; cursor:pointer;}
a:hover,a:active,a:focus{color:#fff;}
iframe{border:0}
input,select,textarea,button {font-size:12px; vertical-align:middle}
textarea{resize:none !important;}
button {border:0 none;background-color:transparent;cursor:pointer}
address,caption,cite,code,dfn,em,var {font-style:normal;font-weight:normal}

#skip_nav, .blind{visibility:hidden;overflow:hidden;position:absolute;top:0;left:0;width:1px;height:1px;font-size:0;line-height:0}
.bg_none{background:none !important;}

/* HTML5 */
header, footer, nav, section, article, aside, figure, figcaption, hgroup {display:block;}

/* common layout */
#wrap{position:relative; width:100%; height:100%; /*height:auto;*/ padding-top:44px; box-sizing:border-box;}
#header{position:fixed; left:0; top:0; right:0; width:100%; height:44px; background-color:#00529b; line-height:44px; z-index:999;}
#container{height:100%; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box;}

.over_list {overflow:auto; height:100%; box-sizing:border-box;}

/* header */
#header h1{color:#fff; font-size:1.3em; text-align:center;}
.header_btns{position:absolute; left:10px; right:10px; top:0; bottom:0;}
.header_btns > li:first-child {float:left;}
.header_btns > li:first-child + li{float:right; text-align:right;}
.header_btns > li{float:none; height:100%; padding:0 4px;}
.header_btns > li > a{color:#00bcd4; text-decoration:underline;}
.header_btns a.img_btns{display:inline-block; width:30px; height:30px; overflow:hidden; margin:7px 0.44em; background:url(../images/header_icons.png) no-repeat; background-size:100%; text-indent:-10000em;font-size:0;}
.header_btns a.btn_mywork{background-position:0 0;}
.header_btns a.btn_prev{background-position:0 -30px;}
.header_btns a.btn_manual{background-position:0 -60px;}
.header_btns a.btn_save{background-position:0 -90px;}
.header_btns a.btn_modify{background-position:0 -120px;}

/* Search */
.search_area{position:absolute;top:0;left:0;right:0;height:44px;background-color:#00529b;box-sizing:border-box;padding:5px 10px 9px 10px;}
.search_form{float:left;width:75%; height:30px;line-height:30px; padding:0 1em; border:0 none; box-sizing:border-box;color:#fff;background-color:#00427d;border-radius:32px;font-weight:bold;}
.btn_search {float:right;width:23%;height:30px;padding:0 1em;border:0 none;background-color:#00427d;border-radius:32px;color:#fff;}

/* Search List */
.search_list_area {display:none;position:absolute;top:88px;left:0;bottom:0;right:0;z-index:999;background-color:#fff;color:#000;}
.search_list_area.on {display:block;}
.search_list_area .tab {height:44px;padding:9px 10px;box-sizing:border-box;background-color:#fafafa;}
.search_list_area .tab li {float:left;width:25%;line-height:26px;border:1px solid #ddd;border-right:0;box-sizing:border-box;text-align:center;background-color:#ddd;color:#777;}
.search_list_area .tab li.on {background-color:#fff;color:#000;}
.search_list_area .tab li:first-child {border-radius:26px 0 0 26px;padding-left:3px;}
.search_list_area .tab li:last-child {border-radius:0 26px 26px 0;border-right:1px solid #ddd;padding-right:3px;}

.search_list {display:none;position:absolute;top:44px;left:0;right:0;bottom:0;overflow:auto;font-weight:normal;-webkit-overflow-scrolling:touch;}
.search_list.on {display:block;}
.search_list h3 {font-size:1em;padding:0 10px;line-height:25px;background-color:#fafafa;}
.search_list h3 em {color:red;}
.search_list h3 strong {color:red;font-weight:bold;}

.search_list h4 {position:relative;font-size:1em;padding:0 10px;line-height:30px;background-color:#eaeaea;}
.search_list h4 span {font-size:1.1em;padding-right:8px;margin-right:5px;border-right:1px solid #ddd;}
.search_list h4 em {color:red;font-weight:bold;}
.search_list h4 strong {color:red;font-weight:bold;}
.search_list h4 a {position:absolute;top:0;right:10px;font-size:0.8em;color:#555;}

.address_list {font-size:1.1em;color:#212121;}
.address_list li {line-height:40px;border-bottom:1px dotted #eee;padding:0 15px 0 10px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}

.address_list li dl {padding:10px 0;border-bottom:1px dotted #eee;}
.address_list li dt {line-height:30px;font-weight:bold;}
.address_list li dd {font-size:0.9em;line-height:1.5em;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.address_list li dd:nth-child(2) {font-size:0.7em;color:#666;margin-bottom:5px;}
.address_list li dd em {display:inline-block;margin-right:5px;font-size:10px;color:#fff;width:35px;text-align:center;border-radius:3px;line-height:14px;}
.address_list li dd em.prev_address {display:inline-block;background-color:#6699cf;}
.address_list li dd em.new_address {display:inline-block;background-color:#ee953f;}

/* My Work  */ 

.my_work_area {position:absolute;top:44px;left:0;bottom:0;right:0;z-index:999;background-color:#fff;color:#000;}
.my_work_area h3 {font-size:1em;padding:0 10px;line-height:30px;background-color:#eaeaea;}
.my_work_area h3 em {font-weight:bold;}
.my_work_area h3 strong {color:orange;}
.my_work_list {position:absolute;top:30px;left:0;right:0;bottom:0;overflow:auto;font-weight:normal;-webkit-overflow-scrolling:touch;}
.my_work_list li {position:relative;padding:0 10px;}
.my_work_list li dl {padding:10px 0;border-bottom:1px dotted #eee;}
.my_work_list li dt {line-height:30px;font-weight:bold;font-size:16px;}
.my_work_list li dd {font-size:12px;line-height:1.5em;font-weight:bold;color:#555;}
.my_work_list li a {position:absolute;top:15px;right:15px;}
.my_work_area.popup {background-color:transparent;display:none;}
.my_work_area.popup .pop_bg {display:block;position:absolute;top:0;right:0;bottom:0;left:0;background-color:#999;opacity:0.6;z-index:1;}
.my_work_area.popup h3 {position:absolute;top:0;left:0;right:20%;height:30px;z-index:2;}
.my_work_area.popup .my_work_list {right:20%;background-color:#fff;z-index:2;}
.my_work_area .search_area + .my_work_list {top:44px;}

.work_table {position:absolute;top:44px;left:0;right:0;bottom:0;overflow:auto;font-weight:normal;-webkit-overflow-scrolling:touch;padding-bottom:30px;}
.work_table table {table-layout:fixed;}
.work_table table th {background-color:#eaeaea;color:#555;line-height:25px;text-align:center;font-size:11px;}
.work_table table td {line-height:35px;text-align:center;font-size:12px;border-bottom:1px solid #eee;border-left:1px dotted #eee;padding:0 5px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.work_table table td:nth-child(2) {text-align:left;}
.work_table table td[title="미조사"] {color:red;}
.work_table table td[title="완료"] {color:green;}
.work_table table tr:nth-child(odd) {background-color:#fff;}
.work_table table tr:nth-child(even) {background-color:#fafafa;}

.pin_box {min-width:250px;padding-right:55px !important;padding-left:20px !important;box-sizing:border-box !important;}
.pin_box dl {padding:10px 0;}
.pin_box dt {line-height:30px;font-weight:bold;font-size:16px;}
.pin_box dd {font-size:12px;line-height:1.5em;font-weight:bold;color:#555;}
.pin_box a {position:absolute;top:15px;right:15px;}


.btn_circle {display:inline-block;width:36px;height:36px;border-radius:100%;overflow:hidden;background-color:#555555;background:url(../images/btn_icons.png) no-repeat; background-size:100%;overflow:hidden;text-indent:-10000em;font-size:0;}
.btn_circle.insert {background-position:0 0;}
.btn_circle.view {background-position:0 -36px;}
.btn_circle.view.my {background-position:0 -72px;}
.btn_circle.insert.other {background-position:0 0;opacity:0.5;cursor:default;}

#container p {line-height:40px;color:#555;background-color:#f1f1f1;text-align:center;font-size:11px;}
#container p span {color:red;font-weight:bold;font-size:13px;}

.insert_card {padding-bottom:20px;}
.insert_card h3 {line-height:25px;padding-left:10px;background-color:#eaeaea;font-size:12px;color:#555;}
.insert_card ul {font-size:0;}
.insert_card li {border-bottom:1px dotted #ddd;padding-top:4px;position:relative;}
.insert_card li:first-child {border-top:1px solid #ddd;}
.insert_card li:last-child {border-bottom:0 none;}
.insert_card li.w50 {display:inline-block;width:50%;}
.insert_card li strong {display:block;font-size:11px;padding-left:10px;color:#555;margin-top:3px;position:relative;}
.insert_card li strong span {position:absolute;top:0;right:35px;font-size:11px;color:#555;line-height:15px;}
.insert_card li div {line-height:30px;padding:0 15px;}
.insert_card li div > em {font-size:11px;color:#212121;}
.insert_card li div > em + span {font-size:12px;margin-left:10px;}
.insert_card li span {font-size:14px;line-height:30px;color:#212121;}


.insert_card input[type="text"] {height:25px;margin:6px 0;color:#212121;text-indent:10px;border-radius:25px;border:1px solid #aaa;width:100%;font-size:14px;font-weight:bold;}

.insert_card select {background-color:#fff;border:1px solid #aaa;height:25px;margin:6px 0;min-width:50px;}
.insert_card button.btn_reference {position:absolute;top:24px;right:15px;border:1px solid #aaa;background-color:#fff;color:#212121;font-size:11px;border-radius:3px;margin-left:10px;padding:2px 5px;height:25px;width:80px;text-align:center;}

.reference {display:none;padding:0 !important;margin-bottom:10px;border-radius:10px;}
.reference.on {display:block;}
.reference.on button.btn_reference {background-color:#999;color:#fff;}

.insert_card .beach_size {font-size:13px;}
.insert_card .beach_size input {width:100px;height:25px;margin:6px 0;color:#212121;padding:0 10px;border-radius:25px;border:1px solid #aaa;font-size:14px;font-weight:bold;text-align:right;}


.check_list {padding-bottom:10px;}
.check_list li {border:0 none;position:relative;}
.check_list li:first-child {border:0 none;}
.check_list input[type="checkbox"] {width:0;height:0;visibility:hidden;}
.check_list input[type="checkbox"] + label {display:inline-block;margin-right:5px;color:#fff;font-size:12px;border-radius:15px;padding:0 10px;height:25px;line-height:25px;vertical-align:middle;padding-left:25px;background:#aaa url(../images/checkbox_icon.png) 0 0 no-repeat;background-size:25px;}
.check_list input[type="checkbox"]:checked + label {background:#53a024 url(../images/checkbox_icon.png) 0 -25px no-repeat;background-size:25px;}
.check_list input[type="checkbox"] + label + input[type="text"] {width:130px;margin:0;vertical-align:middle;display:none;}
.check_list input[type="checkbox"]:checked + label + input[type="text"] {display:inline;}
.check_list input:disabled {background-color:#ddd;border:1px solid #ccc;}
.check_list select {position:absolute;top:0;right:15px;}
div.check_list {margin:5px 0 10px 0;}

.check_list.view {margin-top:10px;padding:5px;margin-bottom:10px;border-radius:5px;}
.check_list.view li {display:block;font-size:12px;height:25px;border-radius:25px;line-height:0;margin-right:5px;margin-bottom:5px;}
.check_list.view li span {font-size:11px;display:inline-block;width:18px;height:18px;line-height:18px;color:#fff;margin-left:5px;border-radius:20px;background-color:#666;text-align:center;}
.check_list.view li strong {display:inline-block;font-size:12px;color:#232323;padding:0 15px 0 15px;line-height:20px;margin:0;}
.check_list.view li span + strong {padding:0 15px 0 7px;line-height:0;}
.check_list.view li em:before {content:"(";}
.check_list.view li em:after {content:")";}

.image_list {padding:10px 0;}
.image_list li {display:inline-block;width:50%;margin-top:5px;text-align:center;border:0 none;vertical-align:top;}
.image_list li:first-child {border-top:0 none;}
.image_list li span {font-size:11px;color:#555;text-align:center;display:block;line-height:20px;}
.image_list li img {width:95%;border-radius:5px;}
.image_list li img {border:1px solid #ddd;}


.file_list li {display:inline-block;width:25%;position:relative;}
.file_list li:first-child {border-top:0 none;}
.file_list li label {text-align:center;display:block;font-size:11px;padding-bottom:30px;background:#fff url(../images/no_image.png) 50% 100% no-repeat;background-size:35px;}
.file_list li input[type="file"] {visibility:hidden;width:0;height:0;}
.file_list li .file_image {position:absolute;top:30px;left:0;right:0;bottom:10px;padding:0;text-align:center;}
.file_list li .file_image img {max-width:100%;max-height:100%;}


/* Map */
.map_view {position:relative; height:100%;box-sizing:border-box;padding-top:44px;}
.map_view_area{z-index:90; position:absolute; left:0; top:44px; right:0; bottom:0;}
.map_view_area > div {height:100%;}

.pop_notice {position:absolute;top:60px;left:20px;right:20px;bottom:20px;background-color:#fff;border-radius:10px;box-shadow:0 0 10px #555;z-index:999999;padding:25px;overflow:auto;}
.pop_notice .pop_content p {font-size:15px;font-weight:bold;line-height:20px;}
.pop_notice .pop_content img {max-width:100%;}
.pop_notice .pop_close {position:absolute;top:15px;right:15px;width:20px;height:20px;background:url(../images/pop_close.png) 0 0 no-repeat;background-size:100%;overflow:hidden;text-indent:-999px;}
.pop_notice .pop_btns {position:absolute;bottom:0;left:0;right:0;text-align:right;height:40px;}
.pop_notice .pop_btns button {font-size:14px;background-color:transparent;border:0 none;font-weight:bold;line-height:40px;padding:0 10px;margin:0 20px;}



#container.view {padding-top:10px;padding:bottom:20px;}
#container.view .insert_card {margin:10px 15px 20px 15px;border-radius:5px;box-shadow:0 0 10px #bbb;background-color:#fff;padding-bottom:10px;}
#container.view .insert_card h3 {line-height:30px;border-radius:5px 5px 0 0;}

/* Error */
#wrap.error h1 span {display:block;margin:0 auto 30px auto;background:url(../images/error_icon.png) 50% 0 no-repeat;background-size:100%;width:100px;height:100px;overflow:hidden;font-size:0;text-indent:99999px;border-radius:100px;border:3px solid #2c3e50;}
#wrap.error h1 {text-align:center;font-size:20px;color:#212121;margin-top:30px;}
#wrap.error p {mar:30px;text-align:center;background-color:#fff;color:#555;font-size:12px;}
#wrap.error a {display:block;margin:30px auto 0 auto;width:100px;border:1px solid #aaa;color:#212121;line-height:30px;text-align:center;}