﻿@charset "utf-8";

/* Common */
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select{margin:0;padding:0}
body,input,textarea,select,button,table{color:#fff; font-family:'Nanum Gothic', '나눔고딕', '돋움',dotum,sans-serif;}
html {height:100%;}
body{height:100%; background:#FFF; font-size:12px;}
img,fieldset{border:0}
img{width:100%; vertical-align:middle;}
ul,ol, li{list-style:none}
em,address{font-style:normal}
legend{*margin-left:-7px}
table{width:100%; border-collapse:collapse;border-spacing:0}
th{text-align:left}
a{color:#fff;text-decoration:none}
a:hover,a:active,a:focus{color:#fff;}
iframe{border:0}
input,select,textarea,button {font-size:12px; vertical-align:middle}
textarea{resize:none !important;}
button {border:0 none;background-color:transparent;cursor:pointer}
address,caption,cite,code,dfn,em,var {font-style:normal;font-weight:normal}

#skip_nav, .blind{visibility:hidden;overflow:hidden;position:absolute;top:0;left:0;width:1px;height:1px;font-size:0;line-height:0}

/* HTML5 */
header, footer, nav, section, article, aside, figure, figcaption, hgroup {display:block;}

/* layout */
#wrap{height:100%;padding:0; background:url(../images/login_bg.jpg) no-repeat 50% 0; background-size:100%;}
#wrap {
    animation-name: loading;
    animation-duration: 2s;
    animation-delay:1s;
    animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@keyframes loading {
	from {background-position: 50% 0;}
	to {background-position:50% -145px;}
}

#container{height:100%;text-align:center;width:100%;}
#footer{position:absolute;bottom:25px;left:0;right:0;text-align:center;}


/* content */
.content {position:absolute;bottom:70px;left:50%;margin-left:-150px;width:300px;background:url(../images/login_input.png) 0 0 no-repeat;background-size:100%;opacity:0;}
.content fieldset {margin:0 auto;}
.content input{width:100%; height:48px;margin-top:2px;padding:0 8px 0 60px;color:#212121; font-weight:bold; box-sizing:border-box;background-color:transparent;border:0 none;}
.content {
    animation-name: login_form;
    animation-delay:3s;
    animation-duration: 1s;
    animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@keyframes login_form {
	from {opacity:0;}
	to {opacity:1;}
}

.btn_login{display:block;background:url(../images/login_btn.png) 0 0 no-repeat;background-size:100%;width:100%;height:75px;margin-top:20px;overflow:hidden;text-indent:-999px;}

/* footer */
.copyright{display:inline-block;background:url(../images/login_koem.png) no-repeat 50% 0;background-size:80px;width:80px;height:35px;overflow:hidden;text-indent:-999px;}